<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark  secondary-color

">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">کنکور تَکشو</a>
  
    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
      aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">
  
      <!-- Links -->
      <ul class="navbar-nav mr-auto">

        <li class="nav-item active">
          <a class="nav-link" href="/">صفحه اصلی  
            <span class="sr-only">(current)</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/">مقالات کنکوری</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/">محصولات</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/admin/loginAdmin">پادکست</a>
        </li>
  
        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">مشاوره و برنامه ریزی</a>
          <div class="dropdown-menu dropdown-secondary" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">مشاوره گروه ریاضی</a>
            <a class="dropdown-item" href="#">مشاوره گروه تجربی</a>
            <a class="dropdown-item" href="#">مشاوره گروه انسانی</a>
          </div>
        </li>

         <!-- Dropdown -->
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">تیم ما</a>
          <div class="dropdown-menu dropdown-secondary" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">مشاورین کنکور تَکشو</a>
            <a class="dropdown-item" href="#">درباره ما</a>
            <a class="dropdown-item" href="/contact">تماس با ما</a>
          </div>
        </li>
  
      </ul>
      <!-- Links -->
  <%- include("./search.ejs") %>
<!---- search -->
    </div>
    <!-- Collapsible content -->
  
  </nav>
  <!--/.Navbar-->