  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>کنکور تَکشو</h3>
            <p >
              تهران <br>
              میدان رسالت<br>
              خیابان هنگام، خیابان طاهرخانی <br><br>
              <strong>تلفن:</strong> <span>09143929024</span><br>
              <strong>ایمیل:</strong> konkour.taksho@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>لینک های مفید</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/taksho/#">خانه</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/taksho/aboutus">درباره ما</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/taksho/products">محصولات</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/taksho/private">طرح های مشاوره</a></li>
           
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>خدمات ما</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">مشاوره کنکور</a></li>

            </ul>
          </div>

    



          
      </div>
    </div>

   
  </footer><!-- End Footer -->