 <!-- ======= Top Bar ======= -->
 <section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
   
      <div class="cta d-none d-md-flex align-items-center">
        <a href="/taksho/#about" class="scrollto">آشنایی با ما</a>
      </div>

      <div class="contact-info d-flex align-items-center ">
        <i  style="direction: ltr;" class="bi bi-envelope d-flex align-items-center mr-3"><a href="#">konkour.taksho@gmail.com</a></i>
        <i  style="direction: ltr;" class="bi bi-phone d-flex align-items-center ms-4"><span >+98 914 392 9024</span></i>
      </div>

    </div>
  </section>
 
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo ">
        <h1><a href="/taksho/#">کنکور تَکشو</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#about"><img src="/img/logo-top.png" alt="" class="img-fluid"></a> -->
  
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/taksho/#">کنکور تَکشو</a></li>
        


       
          <li><a class="nav-link scrollto" href="/taksho/products">محصولات</a></li>

          <li class="dropdown"><a href="/taksho/posts"><span>مقالات</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/taksho/planningposts"> برنامه ریزی کنکور</a></li>
              <li><a href="/taksho/educationalposts"> کنکوری آموزشی</a></li>
              <li><a href="/taksho/Motivationposts">امید و انگیزه</a></li>
              <li><a href="/taksho/newsposts">اخبار کنکور</a></li>
              <li><a href="/taksho/anyposts">دیگر پست ها</a></li>
            </ul>
          </li>


          <li><a class="nav-link scrollto " href="/taksho/consultant">مشاورین کُنکور تَکشو</a></li>

          <li class="dropdown "><a href="/taksho/#team"><span >طرح های مشاوره </span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/taksho/private">هزینه مشاوره خصوصی</a></li>
              <li><a href="/taksho/team"> هزینه مشاوره تیمی</a></li>
              <li><a href="/taksho/single"> هزینه مشاوره تک جلسه</a></li>
           
            </ul>
          </li>
          
          <li class="dropdown"><a href="#"><span>تیم ما</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              
     
              <li><a href="/taksho/aboutus">درباره ما</a></li>
              <li><a href="/taksho/contact">تماس با ما</a></li>

            </ul>
          </li>

   
   

          <li><a class="nav-link scrollto" href="/taksho/login">ورود</a></li>

          <li><a class="nav-link scrollto" href="/taksho/register">ثبت نام</a></li>

      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
