  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container" data-aos="fade-in">
      <h1>گُروه آموزِشی کُنکور تَکشو</h1>
      <h2>بِجَنگ برای آرزوهات؛ زندگی میتونه خیلی سریع از صِفر به صَد برسه!
    </h2>
      <div class="d-flex align-items-center">
     
        <a href="#about"   class="btn-get-started scrollto">درباره ی ما</a>
        <i class="bx bxs-right-arrow-alt get-started-icon"></i>
      </div>
    </div>
  </section><!-- End Hero -->