 <!-- ======= Why Us Section ======= -->
 <section id="why-us" class="why-us">
    <div class="container">

      <div class="row">
        <div class="col-xl-4 col-lg-5" data-aos="fade-up">
          <div class="content">
            <h3>آیا کنکوری هستی؟</h3>
            <p>هیچ برنامه ای به اندازه یک برنامه ریزی شخصی که توسط مشاورین با تجربه کنکور تهیه شده ، شما رو در این سال های سرنوشت ساز یاری نمی کنه. <br/>همین امروز برای دریافت برنامه ریزی کنکور با ما تماس بگیرید ، مشاورین ما همیشه همراه شما خواهند بود.
            </p>
            <div class="text-center">
              <a href="/taksho/aboutus" class="more-btn"> میخوای بیشتر بدونی؟ </a>
            </div>
          </div>
        </div>

        <div class="col-xl-8 col-lg-7 d-flex">
          <div class="icon-boxes d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-bar-chart-alt-2"></i>
                  <h4>شناخت دانش آموز </h4>

                
                  <p>  اول سعی میکنیم طی تماس تلفنی، ویژگی ها، سلایق، علایق و همینطور اشکالات و نقاط ضعف و قوتتون رو بشناسیم .</p>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box mt-4 mt-xl-0">

                  <i class="bx bx-donate-heart"></i>
                  <h4> آموزش بهترین روش ها</h4>
                  <p>انواع تکنیک های مطالعه و تست و آزمون  رو بهت یاد میدیم </p>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-list-plus"></i>
                  <h4> برنامه ریزی، مشاوره، پیگیری</h4>
                  <p> یه مشاور خوب و باانگیزه تا هر وقت که دوست داشتی به صورت مجازی همراهته  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Why Us Section -->