   <!-- ======= About Section ======= -->
   <section id="about" class="about section-bg">
    <div class="container">

      <div class="row">
        <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative" data-aos="fade-right">
          <a href="/public/img/about1-img.jpg" class="glightbox play-btn mb-4"></a>
        </div>
        
        <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
          <h4 data-aos="fade-up">درباره تیم ما</h4>
          <h3 data-aos="fade-up">ما چه کسانی هستیم؟</h3>
          <p data-aos="fade-up">
              ما یک تیم از رتبه های برتر کنکور هستیم. در گذشته خیلی نزدیک ما خودمون دانش آموز بودیم و در آرزوی رتبه خوب و دانشگاه عالی. الان در بهترین رشته ها و دانشگاه ها مشغول تحصیل هستیم. ما دانش آموزان معمولی از جنس بقیه بچه ها بودیم. شاید فقط دو تا تفاوت کوچیک باعث شد به خواسته هامون برسیم. اول تکیه بر اصول و روش های درست مطالعه و تست زنی بود. دوم ایمان به اینکه با تلاش و پشتکار میشه به هر آرزویی رسید.
          </p>
        
          <div class="icon-box" data-aos="fade-up">
            <div class="icon"><i class="bx bx-home-heart"></i></div>
            <h4 class="title"><a href="">موسسه کُنکور تَکشو در کدام شهر است؟</a></h4>
            <p class="description">اعضای گروه آموزشی کُنکور تَکشو از دانشگاه های برتر تهران و شهرستان ها هستند.</p>
          </div>
     
          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bx bx-line-chart"></i></div>
            <h4 class="title"><a href="">در زمینه مشاوره کنکور چقدر تجربه داریم؟</a></h4>
            <p class="description">ما از سال 1391 تا الان در زمینه مشاوره کنکور در مدارس مختلف شمال غرب کشور فعالیت کرده ایم. تجربه  برنامه ریزی درسی و مشاوره تلفنی و مجازی هم از سال 98 به فعالیت هامون اضافه شده. </p>
          </div>

    
          <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bx bx-bulb"></i></div>
            <h4 class="title"><a href="">برای موفقیت "شما" در کنکور چه کاری انجام می دهیم؟ </a></h4>
            <p class="description"></p><br/>پس از شناخت نقاط ضعف و قوت و ویژگی های شخصیتون، <br/>گام دوم آموزش روش ها و تکنیک های موفقیت در کنکور شامل روش های صحیح مطالعه و تست زنی هست   
            <br/>گام سوم برنامه ریزی خصوصی و شخصی برای دانش آموز هست<br/>
            گام آخر هم مشاوره تلفنی و نظارت پیوسته و مداوم به صورت روزانه هست</p>
          </div>

        </div>
      </div>

    </div>
  </section><!-- End About Section -->
