    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg ">
        <div class="container">
  
          <div class="section-title" data-aos="fade-up">
            <h2 style="font-weight:900;" class="p-4">مشاوران شما چه کسانی هستند؟</h2>
            
          </div>

          <div class="row">
            <div class="col-lg-4 col-md-6" data-aos="fade-up">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-tools"></i></div>
                <h4 class="title"><a href="/taksho/consultantR">مشاوران گروه ریاضی</a></h4>
                <p class="description"> برای کسب اطلاع بیشتر در مورد تیم مشاوران    <br/> ریاضی تیم کُنکور تَکشو وارد این قسمت شوید.</p>
              </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
              <div class="icon-box">
                <div class="icon"><i class="bx bxs-capsule "></i></div>
                <h4 class="title"><a href="/taksho/consultantT">مشاوران گروه تجربی</a></h4>
                <p class="description" >برای کسب اطلاع بیشتر در مورد تیم مشاوران    <br/> تجربی تیم کُنکور تَکشو وارد این قسمت شوید.</p>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-bank2"></i></div>
                <h4 class="title"><a href="/taksho/consultantE">مشاوران گروه انسانی</a></h4>
                <p class="description">برای کسب اطلاع بیشتر در مورد تیم مشاوران    <br/> انسانی تیم کُنکور تَکشو وارد این قسمت شوید.</p>
              </div>
            </div>
         
  
        </div>
      </section><!-- End Services Section -->