<section id="values" class="values">
    <div class="container">

      <div class="row">
        <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
          <div class="card" style="background-image: url(/img/values-1.jpg);">
            <div class="card-body">
              <h5 class="card-title"><a href="/taksho/st-Planning"> اصول مشاوره و برنامه ریزی در کُنکور تَکشو</a></h5>
              <p class="card-text">

به تعداد دانش آموزان روی کره زمین برنامه ی درسی وجود داره؛ ما تلاشمون اینه که به تناسب ویژگی ها و نیازهای هر دانش آموز برنامه درسی ارائه بدیم.


              </p>
              <div class="read-more"><a href="/taksho/st-Planning"><i class="bi bi-arrow-left"></i> بیشتر بخون</a></div>
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="100">
          <div class="card" style="background-image: url(/img/values-2.jpg);">
            <div class="card-body">
              <h5 class="card-title"><a href="/taksho/st-Planning1"> نکات مهم در برنامه ریزی درسی</a></h5>
              <p class="card-text">اگه میخواین خودتون مشاور خودتون باشید و برنامه درسی بنویسید، این بخش رو مطالعه کنید.</p>
              <div class="read-more"><a href="/taksho/st-Planning1"><i class="bi bi-arrow-left"></i> بیشتر بخون</a></div>
            </div>
          </div>

        </div>
        <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="200">
          <div class="card" style="background-image: url(/img/values-3.jpg);">
            <div class="card-body">
              <h5 class="card-title"><a href="/taksho/st-Planning">برنامه ریزی درسی</a></h5>
              <p class="card-text">با علمی‌تری روش، یه برنامه درسی حرفه‌ای واست طراحی میکنیم</p>
              <div class="read-more"><a href="/taksho/st-Planning"><i class="bi bi-arrow-left"></i> بیشتر بخون</a></div>
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="300">
          <div class="card" style="background-image: url(/img/values-4.jpg);">
            <div class="card-body">
              <h5 class="card-title"><a href="/taksho/st-Planning2">مشاوره و پیگیری</a></h5>
              <p class="card-text">یه همراه مجازی و تلفنیِ رتبه برتر تا روز کنکور ازت مراقبت میکنه</p>
              <div class="read-more"><a href="/taksho/st-Planning2"><i class="bi bi-arrow-left"></i>بیشتر بخون</a></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>