<section id="testimonials" class="testimonials">
    <div class="container position-relative" data-aos="fade-up">

      <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="/img/testimonials/x.jpg" class="testimonial-img" alt="">
              <h3>نظر دانش آموز خوبمون</h3>
              <h4>پانیذ فلاحت زاده</h4>
              <h3>دهم ریاضی</h3>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-right"></i>
                سلام دکتر رحیمی .امیدوارم حالتون خوب باشه.خواستم تشکر کنم بابته مدتی که مشاوره من بودین ..همچنین از توصیه ها و نکته های ارزندتون در جهته رسیدن به اهدافمون ممنونم.امیدوارم همیشه موفق باشید 
                <i class="bx bxs-quote-alt-right quote-icon-left"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
             
              <img src="/img/testimonials/x.jpg" class="testimonial-img" alt="">
              <h3>نظر دانش آموز خوبمون</h3>
            
              <h4>زیبا نعیم زاده</h4>
              <h3>دوازدهم تجربی</h3>
              <p>
                  <i class="bx bxs-quote-alt-left quote-icon-right"></i>
                  مشاوره ی ایشون دید من رو نسبت به تست زنی تغییر داد. تونستم زمانم رو مدیریت کنم از منابع صحیح آگاه شدم.تونستم با برنامه ریزی های مشاورم کیفیت مطالعه ی خودم رو بالا ببرم.ترازم و افزایش پیدا کرد.
                  <i class="bx bxs-quote-alt-right quote-icon-left"></i>
                </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="/img/testimonials/x.jpg" class="testimonial-img" alt="">
              <h3>نظر دانش آموز خوبمون</h3>
              <h4>مهدی صدر موسوی</h4>
              <h3>دوازدهم تجربی</h3>
              <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  سلام استاد در یک کلام میشه گفت عشقید عشق هیچی کم نزاشتید دعای ما بچه ها همیشه پشت سر شماست حقا که دستمزدتون حلاله حلاله خدا خیرتون بده..تدریس عالیییی امیدوارم همیشه موفق باشید من هرکیو ببینم کلاس شمارو بهش پیشنهاد میدم
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="/img/testimonials/x.jpg" class="testimonial-img" alt="">
              <h3>نظر دانش آموز خوبمون</h3>
              <h4>پریناز عمرانی</h4>
              <h3>یازدهم ریاضی</h3>
              <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  سلام خیییلی ویژه خدمت بهترین استاد رحیمی .من از اول تابستون باهاتون مشاوره داشتم .شماخیییلی خوبین وعلاوه بر درس دادن به ما یاددادین چجوری جلو موانع سر راهمون وایستیم و بهشون بفهمونیم که ما باید به آرزو هامون برسیم 
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="/img/testimonials/x.jpg" class="testimonial-img" alt="">
              <h3>نظر دانش آموز خوبمون</h3>
              <h4>سمینه صالحی </h4>
              <h3>یازدهم تجربی</h3>
              <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  با گروه آموزشی کنکور تکشو به طور اتفاقی آشنا شدم و فقط از مشاوره استفاده می کنم.از برنامه ریزی و پیگیری های انجام شده توسط مشاورم راضی ام و مطالب انگیزشی که در پیج اینستا قرار داره خیلی مفید هستند.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            
            </div>
          </div><!-- End testimonial item -->

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section>