<section id="team" class="team section-bg">
    <div class="container">

      <div class="section-title">
        <h2 data-aos="fade-up" style="font-weight: 900;" class="p-3">مشاوران برتر گروه آموزشی کُنکور تَکشو</h2>
        <p data-aos="fade-up"> هر کجای ایران که هستید برای ارتباط با رتبه های برتر کنکور جهت دریافت برنامه ریزی و مشاوره بلند مدت  با ما تماس بگیرید

      </p>
      </div>

      <div class="row">

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
          <div class="member">
            <div class="member-img">
              <img src="/img/team/team-1.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href="">  رتبه 50 سال 1400</a>
            
              </div>
            </div>
            <div class="member-info">
              <h4>آیلین جنتی </h4>
              <span>پزشکی دانشگاه تبریز</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="member">
            <div class="member-img">
              <img src="/img/team/team-2.jpg" class="img-fluid" alt="">
              <div class="social">
           رتبه 655 سال 1397
              </div>
            </div>
            <div class="member-info">
              <h4>ندا عمرانی</h4>
              <span>پزشکی دانشگاه علوم پزشکی تهران</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="member">
            <div class="member-img">
              <img src="/img/team/team-3.jpg" class="img-fluid" alt="">
              <div class="social">
                  <a href="">رتبه 44 سال 1399</a>
              </div>
            </div>
            <div class="member-info">
              <h4>کیارش رحیمی زاد</h4>
              <span>دندان پزشکی دانشگاه بهشتی</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="member">
            <div class="member-img">
              <img src="/img/team/team-4.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href="">رتبه 130 سال 1397</a>
      
              </div>
            </div>
            <div class="member-info">
              <h4>سحر علیزاده</h4>
              <span>مهندسی کامپیوتر دانشگاه امیرکبیر</span>
            </div>
          </div>
        </div>
        
        <a href="/taksho/consultant" data-aos="fade-up" class="text-center" data-aos-delay="150" >  <h5 >  مشاهده همه مشاوران [+] </h5> </a>
      </div>

    </div>
  </section>