<section id="faq" class="faq section-bg">
    <div class="container">

      <div class="section-title">
        <h2 data-aos="fade-up">سوالات متداول</h2>
        <p data-aos="fade-up">توی این بخش سوالاتی که اکثر دانش آموزان از ما میپرسند رو آوردیم تا بهتون کمک شه</p>
      </div>

      <div class="faq-list">
        <ul>
          <li data-aos="fade-up">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">             چرا برخی دانش آموزان با وجود جدی درس خواندن در آزمون ها نتیجه نمی گیرند ؟ <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
              <p>
                این سوالی هست که خیلی از بچه ها میپرسند و مشکل خیلی از بچه ها هم همین است که در پاسخ به آنها می گوییم اگر در هفته هزار ساعت هم درس بخونی اما درست و اصولی درس نخونی اون نتیجه ای که لازم هست را نمیگیری مثل این میمونه که شما در یک میدونی وایستاده باشی و هدفت این باشه که یک مسیری را طی بکنی به سمت راست و تمام تلاشت را بکنی و بری به سمت چپ شما چه با دوچرخه بری یا بنز چون مسیرت مسیر غلطی هست پس به تو نتیجه نمیدهد درس خوندن مهمه و اینکه زیاد باشه خیلی خوبه اما به شرطی که اصول درست مطالعاتی توش رعایت بشود وکنکور ما الآن یه جوری هست که باید یک سری قواعدی تو آن دقت شود مثلا مثل اینکه با برنامه درس بخونیم – تست های زمان دار بزنیم- حتما تست ها تحلیل بشوند و دوره ها و رفع اشکال ها زیاد باشند
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="100">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">آیا با پایه ی درسی ضعیف می توان به موفقیت رسید ؟ <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
              <p>
                شما یک انسانی که خداوند از روح خودش در تو دمیده  و قدرت و اراده ی بینهایتی در تو قرار داده؛  فقط کافیه که حرکت کنی و خواهی دید که خداوند چطور نعمت هاش رو برای تو سرازیر میکنه پس فکرای منفی رو از ذهنت بریز بیرون همه چی به باور تو برمیگرده اگه فک کنی که نمیتونی و خودت رو بازنده ببینی و بگی که من پایه م ضعیفه از همین الان باختی باید بگی درسته پایه ی من ضعیفه اما اینقد میخونم تا قویش کنم .
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="200">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">چطور میتوان برای کنکور برنامه ریزی کرد؟ <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
              <p>
             این یک سوال جامع هست و کم و بیش خودتون هم شاید تا الان اقداماتی انجام داده باشید و برای خودتون برنامه ریزی کنید، اما بهتره که حتما از یک مشاور خوب استفاده کنید که شما و میزان توانایی های شما رو بشناسه و یک برنامه ی خیلی خوب براساس توانمندی ها و نقاط ضعف و قدرتتون بریزه .
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="300">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">آیا یک برنامه ریزی ثابت برای همه دانش آموزان قابل استفاده است؟ <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
              <p>خیر،
                باید برنامه ی درسی هر شخص براساس توانمندی ها، زمان کلاس هایش، زمان خواب و بیداری و نقاط ضعف و قوت درسی اش  باشد .
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="400">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">برای آمادگی در کنکور بهتر است چه زمانی شروع کنیم ؟ <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
              <p>
                 برای آمادگی کنکور در حال حاضر هر سطحی که هستید (باید) از همین الان شروع کنید و هر چه در توان دارید استفاده کنید؛  سعی کنید بیشتر تست بزنید و بیشتر مطالعه کنید. اگر این روال رو ادامه بدید نتیجه ی بهتری هم خواهید گرفت. هر پایه ای که هستید همین الان باید شروع کنید و کنکوری وار درس بخونید. یکی از مشکلات دانش آموزان کنکوری اینه که بچه ها  حدود یازده سال تشریحی درس میخونن اما برای کنکور باید تست بزنند که نمی توانند با این شرایط سازگار شوند، در نتیجه به مشاور نیاز پیدا  پیدا میکنند .
              </p>
            </div>
          </li>

        </ul>
      </div>

    </div>
  </section>