<%- include("../includes/header.ejs") %>

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="/taksho/aboutus">تیم ما</a></li>
            <li> درباره ما</li>
          </ol>
          <h2> درباره ما </h2>
        </div>
      </section><!-- End Breadcrumbs -->
<div class="row">

<div class="col-3"></div>
<div class="col-6 ">
  
    <h2 style="color: rgb(255, 196, 0);" >ما چه کسانی هستیم؟</h2>

    <p style="color: rgb(95, 95, 95);">ما یک تیم از رتبه های برتر کنکور هستیم. در گذشته خیلی نزدیک ما خودمون دانش آموز بودیم و در آرزوی رتبه خوب و دانشگاه عالی. الان در بهترین رشته ها و دانشگاه ها مشغول تحصیل هستیم. ما دانش آموزان معمولی از جنس بقیه بچه ها بودیم. شاید فقط دو تا تفاوت کوچیک باعث شد به خواسته هامون برسیم. اول تکیه بر اصول و روش های درست مطالعه و تست زنی بود. دوم ایمان به اینکه با تلاش و پشتکار میشه به هر آرزویی رسید.</p>
    <br/>
    <hr />
    <br/>
    <h2 style="color: rgb(255, 196, 0);"> برای موفقیت شما در کنکور چه کاری انجام می دهیم؟&nbsp;</h2>
    
    <p style="color: rgb(95, 95, 95);">ما ادعا نمیکنیم که در سه گام می تونیم تو رو به موفقیت برسونیم. بلکه در چند سال گذشته این رو ثابت کردیم.</p>
    
    <ol>
        <li><strong>گام اول آموزش فنون موفقیت در کنکور شامل روش های صحیح مطالعه و تست زنی است</strong></li>
        <li><strong>گام دوم برنامه ریزی خصوصی و شخصی یا در صورت درخواست به صورت تیمی برای دانش آموزان است</strong></li>
        <li><strong>گام سوم مشاوره تلفنی و نظارت مستمر و مداوم به صورت روزانه است</strong></li>
    </ol>
    
    <p style="color: rgb(95, 95, 95);">همه اینها رو یکی از اعضای تیم کُنکور تَکشو انجام میده. یکی از ما که خودش رتبه برتر کنکور شده. خدمات گروه مشاوره کُنکور تَکشو، تلفنی و مجازی ارائه میشه.</p>
    
    <br/>
    <hr />
    <br/>
    <h2 style="color: rgb(255, 196, 0);">چرا کُنکور تَکشو؟ مگه همه میتونن تَک رقمی  بشن!؟</h2>
    
    <p style="color: rgb(95, 95, 95);">   نام گروهمون رو وقتی چند سال پیش برای اولین بار پیج اینیستا باز کردیم، مشاور ارشدمون خانم کاشف انتخاب کردند.ایشون معتقد بودند هر کسی با تیم ما پیش بره باید تَک و پیشتاز بشه. فرقی هم نمیکنه از چه لحاظ حساب کنیم. چه رتبه ی کنکور باشه چه نظم و انضباط درسی و یا هر بعد دیگه ای از زندگی. اینطوری شد که اسم پیج اینیستامون شد کُنکور تَکشو. در ادامه هم با گسترش فعالیت هامون تو فضای مجازی، نام سایتمون رو هم کُنکور تَکشو گذاشتیم.   </p>
    
    <br/>
    <hr />
    <br/>
    <h2 style="color: rgb(255, 196, 0);">گروه آموزشی کُنکور تَکشو در کدام شهر قرار دارد؟</h2>
    
    <p style="color: rgb(95, 95, 95);">اعضای گروه مشاوره کُنکور تَکشو از دانشگاه های برتر تهران و شهرستان ها هستند. در حال حاضر مشاوره ی حضوری نداریم ولی در آینده نزدیک دفتر کارمون رو در تهران  باز میکنیم تا به صورت حضوری هم با شما دانش آموزان عزیز ارتباط داشته باشیم.
    <br/>    <br/>
    <hr />
    <br/>
    <h2 style="color: rgb(255, 196, 0);">در زمینه مشاوره کنکور چقدر تجربه داریم؟</h2>
    
    <p style="color: rgb(95, 95, 95);">
      ما از سال 1391 تا الان در زمینه مشاوره کنکور در مدارس مختلف شمال غرب کشور فعالیت کرده ایم. تجربه برنامه ریزی درسی و مشاوره تلفنی و مجازی هم از سال 98 به فعالیت هامون اضافه شده.
    
    
    </p>
    <br/>
    <br/>
    <br/>
    <br/>
</div>

<div class="col-3"></div>
</div>



</main>

<%- include('../includes/footer.ejs') %>


