<%- include("../includes/header.ejs") %>
    

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a href="/taksho/private">طرح های مشاوره</a></li>
          <li>طرح های مشاوره خصوصی</li>
        </ol>
        <h2> طرح های مشاوره خصوصی </h2>
      </div>
    </section><!-- End Breadcrumbs -->
<div class="container">


  <section id="pricing" class="pricing">
    <div class="section-title">
      <h2 data-aos="fade-up">طرح های خصوصی مشاوره کنکور تَکشو</h2>

    </div>

    <div class="row">
     
      <div class="col-lg-3 col-md-6" data-aos="fade-up">
        <div class="box featured">
          <h3>رایگان</h3>
          <h4><sup>تومان</sup>0<span> / ماه</span></h4>
      
            <ul>
              <li>ارائه برنامه های درسی علمی و منظم تا شب کنکور</li>
              <li class="na"> نظارت بر عملکرد داوطلب به روشهای مختلف</li>
              <li class="na"> ارائه جزوات بسیار مفهومی و منحصربفرد برای تسلط سریع و دقیق به مطالب درسی</li>
              <li class="na"> ارائه فایلهای مبتنی بر بهبود عملکرد حافظه ، ارتقای ضریب هوش و افزایش دقت و تمرکز</li>
            </ul>
          <div class="btn-wrap">
            <a href="#" class="btn-buy">درخواست سفارش</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="100">
        <div class="box ">
          <h3>طرح برنزی</h3>
          <h4><sup>تومان</sup>130<span> / ماه</span></h4>
          
          <ul>
            <li>ارائه برنامه های درسی علمی و منظم تا شب کنکور</li>
            <li> نظارت بر عملکرد داوطلب به روشهای مختلف</li>
            <li class="na"> ارائه جزوات بسیار مفهومی و منحصربفرد برای تسلط سریع و دقیق به مطالب درسی</li>
            <li class="na"> ارائه فایلهای مبتنی بر بهبود عملکرد حافظه ، ارتقای ضریب هوش و افزایش دقت و تمرکز</li>
          </ul>
          <div class="btn-wrap">
            <a href="#" class="btn-buy">درخواست سفارش</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
        <div class="box">
          <h3>طرح نقره ای</h3>
          <h4><sup>تومان</sup>180<span> / ماه</span></h4>
          <ul>
            <ul>
              <li >ارائه برنامه های درسی علمی و منظم تا شب کنکور</li>
              <li > نظارت بر عملکرد داوطلب به روشهای مختلف</li>
              <li > ارائه جزوات بسیار مفهومی و منحصربفرد برای تسلط سریع و دقیق به مطالب درسی</li>
              <li class="na"> ارائه فایلهای مبتنی بر بهبود عملکرد حافظه ، ارتقای ضریب هوش و افزایش دقت و تمرکز</li>
            </ul>
          </ul>
          <div class="btn-wrap">
            <a href="#" class="btn-buy">درخواست سفارش </a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
        <div class="box ">
          <span class="advanced">ویژه</span>
          <h3>طرح طلایی</h3>
          <h4><sup>تومان</sup>280<span> / ماه</span></h4>
          <ul>
            <li>ارائه برنامه های درسی علمی و منظم تا شب کنکور</li>
            <li > نظارت بر عملکرد داوطلب به روشهای مختلف</li>
            <li > ارائه جزوات بسیار مفهومی و منحصربفرد برای تسلط سریع و دقیق به مطالب درسی</li>
            <li > ارائه فایلهای مبتنی بر بهبود عملکرد حافظه ، ارتقای ضریب هوش و افزایش دقت و تمرکز</li>
          </ul>
          <div class="btn-wrap">
            <a href="" class="btn-buy">درخواست سفارش</a>
          </div>
        </div>
      </div>

    </div>


</section>     </div>

<section id="faq" class="faq section-bg">
  <div class="container">

    <div class="section-title">
      <h2 data-aos="fade-up">مدارک مورد نیاز جهت شروع فرآیند مشاوره</h2>
    </div>

    <div class="faq-list">
      <ul>
        <li data-aos="fade-up">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">            شرایط و مدارک لازم برای مقاطع دهم و یازدهم <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
            <p>
              تصویر آخرین کارنامه دریافتی از مدرسه<br/>
              تصویر کارت ملی<br/>
              یا تصویر صفحه اول شناسنامه<br/>
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="100">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">مدارک مورد نیاز برای دیپلمه های نظام قدیم و جدید <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
            <p>
              <br/> تصویر کارنامه پیش دانشگاهی یا سال دوازدهم <br/>
               داوطلبین کنکور سال قبل هم تصویر کارنامه کنکور سراسری خود را ارسال نمایند.<br/>
              تصویر کارت ملی <br/>
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="200">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">مدارک برای دانشجویان و فارغ التحصیلان دانشگاهی <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
            <p>
              <br/>تصویر کارت دانشجویی یا ریز نمرات آخرین ترم سپری شده برای دانشجویان
             تصویر گواهی یا مدرک دانشگاهی برای فارغ التحصیلان.<br/>
              تصویر کارت ملی <br/>
            </p>
          </div>
        </li>

    

      </ul>
    </div>

  </div>
</section>

<br/>
<br/>
  
<%- include("../includes/footer.ejs") %>
