<%- include("../includes/header.ejs") %>
    
   <!-- ======= Breadcrumbs ======= -->
   <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
      <ol>
        <li><a href="/taksho/single">طرح های مشاوره</a></li>
        <li>طرح مشاوره تک جلسه</li>
      </ol>
      <h2> طرح مشاوره تک جلسه</h2>
    </div>
  </section><!-- End Breadcrumbs -->



 <div class="container">
  <div class="section-title">
    <h2 data-aos="fade-up">طرح های مشاوره کنکور تَکشو</h2>
    <p data-aos="fade-up"> هزینه مشاوره ی تک جلسه، با مشاورین کنکور تکشو بر اساس دقیقه محاسبه شده و هر 30 دقیقه 60 هزار تومان میباشد. در صورت تمایل میتوانید از طریق هر کدام از راه های ارتباطی با ما درخواست مشاوره نمایید.  </p>
  </div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<%- include("../includes/footer.ejs") %>
