<%- include("../includes/header.ejs") %>

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="/taksho/#">تیم ما</a></li>
            <li> درباره ما</li>
          </ol>
          <h2> درباره ما </h2>
        </div>
      </section><!-- End Breadcrumbs -->
<div class="row">

  <div class="col-3"></div>
  <div class="col-6">


    <h3 style="color: rgb(219, 150, 2);font-size:x-large;">نکات مهم در برنامه ریزی درسی</h3>
<br/>
<p style="color: rgb(121, 118, 118);font-size: larger;">
  سوال و دغدغه اصلی همه دانش آموزان و کنکوری ها این است که چجوری برنامه ریزی خوبی داشته باشیم و یک برنامه ریزی خوب چه ویژگی هایی باید داشته باشه تا به هدفمون برسیم.اگر برنامه ریزی شما ویژگی های زیر رو داشته باشه میتونی به هدفت برسی و رتبه خوبی در کنکور کسب کنی.
  
  <br/><br/>
  - هدف مشخص داشته باشین     
  <br/>
  - تمامی دروس در برنامه هفتتون باید باشه نه فقط یک یا دو درس!
  <br/>
  - ساعت مطالعه بر اساس توانایی شما باشد و هر هفته افزایش بدین
  <br/>
  - تعداد دروس و ساعت مطالعه هر درس متناسب با سطحتون و استاندارد باشه
  <br/>
  - زمان استراحت مناسب و کافی باشد
  <br/>
  - تعادل دروس در روز رو رعایت کنید،به طور مثال بین دو درس اختصاصی یک درس عمومی بذارین.
  <br/>
  - در برنامه حتما باید مرور گذاشته شود.
  <br/>
  - برنامه ریزی حتما باید شامل مبحث دروس باشه.
  <br/>
  -در برنامتون حتما تعداد تست مشخص کنین.
</p>

<br/>
<br/>
  </div>

  </div>
  <div class="col-3"></div>


</main>

<%- include('../includes/footer.ejs') %>


