<%- include("../includes/header.ejs") %>

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="/taksho/#">تیم ما</a></li>
            <li> درباره ما</li>
          </ol>
          <h2> درباره ما </h2>
        </div>
      </section><!-- End Breadcrumbs -->
<div class="row">

  <div class="col-3"></div>
  <div class="col-6">
    <h3 style="color: rgb(219, 150, 2);font-size:x-large;">اصول مشاوره و برنامه ریزی در کُنکور تَکشو</h3>
    <br/>
<p style="color: rgb(121, 118, 118);font-size: larger;">برنامه ریزی کاملا شخصی
  اولین چیزی که برای موفقیت در کنکور نیاز داری، یک برنامه ریزی همراه و همسو با اهدافتِ که ما در طرح مشاوره خودمون به دنبال این هستیم که چطور طبق یک برنامه ریزی حرفه‌ای پیش بری و به هدف‌های قشنگت برسی.<br/> <br/>مشاور شما با ارائه یک برنامه ریزی دقیق و منظم به صورت روزانه و هفتگی اجازه نمیده در باتلاق بی برنامه درس خوندن گرفتار بشی.
  
  مشاور شما منطبق با آزمون آزمایشی (اگر شرکت میکنید) و همچنین برنامه مدرسه و کلاس‌های کنکورتون یک برنامه ریزی کاملا شخصی سازی شده در اختیار شما قرار میده که در این برنامه همه چیز به طور کامل مشخص شده، چی بخونی؟ چقدر بخونی؟ از چه منبعی؟ کی و چقدر تست بزنی؟ کی مرور کنی؟ کی جمع بندی کنی؟ و… 
  <br/> <br/>در واقع برای ساعت به ساعت خودت یک برنامه روزانه دقیق داری و کاملا میدونی چه کاری رو چه موقع باید انجام بدی.
  
  مهمترین ویژگی این برنامه این است که کاملا به صورت اختصاصی برای شماست و منطبق بر ویژگی های فردی شما که به راحتی میتونید اون رو اجرا کنید.</p>

    <br/>
    <br/>
  </div>

  </div>
  <div class="col-3">
    
  </div>


</main>

<%- include('../includes/footer.ejs') %>


