<%- include("../includes/header.ejs") %>

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="/taksho/#">تیم ما</a></li>
            <li> درباره ما</li>
          </ol>
          <h2> درباره ما </h2>
        </div>
      </section><!-- End Breadcrumbs -->
<div class="row">

  <div class="col-3"></div>
  <div class="col-6">
    <h3 style="color: rgb(219, 150, 2);font-size:x-large;">مشاوره و پیگیری کُنکور تَکشو</h3>
    <br/>
 <p style="color: rgb(121, 118, 118);font-size: larger;">
  کسی که دلسوز و پیگیرت هست؟ دوست داری کارنامت رو یه مشاور حرفه ای تحلیل کنه؟ روش درست مطالعه درس هارو بلد نیستی؟ نیاز به کسی داری که بهت انگیزه بده؟ مشاوران ما مثل یه دوست خوب تا خود روز کنکور کنارت هستن هر شب منظم پیگیر گزارش کارت هستن و جواب سوالات و دغدغه هات رو میدن. تو تماس های تلفنی راز های موفقیت خودشون در سال کنکور رو برات توضیح میدن و کلی بهت انگیزه میدن که با انرژی بیشتر مسیر سخت کنکور رو عالی طی کنی.
 </p>

  </div>

  </div>
  <div class="col-3"></div>


</main>

<%- include('../includes/footer.ejs') %>


